#doriancaverna {
    height: 300px;
    width: 600px;
    
}

figcaption{
    font-family: Georgia, serif;
  color: rgb(0, 0, 0);
}

html {
    scroll-behavior: smooth;
}

h1 {
    text-align: center;
}
h2 {
    text-align: center;
}
h3 {
    text-align: center;
}